<form id="form" enctype="multipart/form-data" method="post"
action="/upload"> 
    <input accept='image/jpeg'
        type="file" 
        name='drive' id="inputDrive" aria-describedby="drive" required multiple/>
    <button type="submit">Submit</button>
</form>

<script>
    console.log('test')
</script>